p {
  font-size: 100%;
  font-family: 'Calibri';
}

h {
  font-size: 150%;
  font-family: 'Calibri';
}

h1 {
  font-size: 150%;
  font-family: 'Calibri';
}

ul {
  font-size: 100%;
  font-family: 'Calibri';
}

img {
  width: 250px;
  padding-left: 150px;
}

body {
  background-color: #C3FFE7
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}