p {
  font-size: 100%;
  font-family: 'Calibri';
}

h {
  font-size: 150%;
  font-family: 'Calibri';
}

h1 {
  font-size: 150%;
  font-family: 'Calibri';
}

ul {
  font-size: 100%;
  font-family: 'Calibri';
}
