@media (max-width: 600px) {
  .column {
    float: none;
    width: 100%;
  }
}

.column {
  float: left;
  }

  .left {
    width: 70%;
  }
  
  .right {
    width: 30%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }

p {
  font-size: 100%;
  font-family: 'Calibri', sans-serif;
  padding-right: 25px;
}

h2 {
  font-size: 150%;
  font-family: 'Lucida Sans', sans-serif;
  padding-top: 20px;
}

h1 {
  font-size: 120%;
  font-family: 'Lucida Sans', sans-serif;
}

ul {
  font-size: 100%;
  font-family: 'Lucida Sans', sans-serif;
}

img {
  border-radius: 5%;
  width: 100%;
  }

#welcome-text {
  background-color: plum
}

div {
  font-size: medium;
  font-family: 'Lucida Sans', sans-serif;
}

p {
  font-size: medium;
  font-family: 'Lucida Sans', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.bold-text {
  font-weight: bold;
}

body {
  padding-right: 150px;
  padding-left: 25px;
}

.it-text {
  font-style: italic;
}
