.column {
  float: left;
  }

  .left {
    width: 70%;
  }
  
  .right {
    width: 30%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }

p {
  font-size: 100%;
  font-family: 'Calibri';
}

h {
  font-size: 150%;
  font-family: 'Lucida Sans';
}

h1 {
  font-size: 120%;
  font-family: 'Lucida Sans';
}

ul {
  font-size: 100%;
  font-family: 'Lucida Sans';
}

img {
  border-radius: 5%;
  }

#welcome-text {
  background-color: plum
}

div {
  font-size: medium;
  font-family: 'Lucida Sans';
}

p {
  font-size: medium;
  font-family: 'Lucida Sans';
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#familyphoto {
  width: 400px;
}

.bold-text {
  font-weight: bold;
}
